{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
  <h1>Забыли свой пароль?</h1>
  {% if validlink %}
    <p>Пожалуйста, введите свой новый пароль дважды:</p>
    <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
      {% buttons submit='Изменить пароль' %}{% endbuttons %}
    </form>
  {% else %}
    <p>Ссылка на сброс пароля была недействительной, возможно,
        потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
  {% endif %}
{% endblock %}