{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% load bb_tags %}
{% block title %}Ads in the section {{ rubric }}{% endblock %}
{% block content %}
        <h4>Ads in the section <span style="font-style: italic;">"{{ rubric }}"</span></h4>
    <hr>
        <form style="width: 100%">
            {% bootstrap_form form show_label=False %}
            <input type="submit" value="Искать" class="btn btn-primary" style="width: 100%">
        </form>
    <hr>
{% if bbs %}
    {% for bb in bbs %}
            <div style="margin-bottom: 20px; box-shadow: 3px 3px 15px black" class="card">
  <div class="card-body">
    <h4 class="card-title"><a href="{{ bb.get_absolute_url }}">{{ bb.title }}</a></h4>
      <hr>
  {% if bb.image %}
    <img style="width: 150px" class="mr-3" src="{% thumbnail bb.image 'default' %}" alt="">
        {% else %}
        <p>The user did not add any images</p>
    {% endif %}
      <p class="card-link"><span style="color: orangered;
            font-style: italic; font-size: 11px;">
                {{ bb.created_at|date:"d.m.Y H:i:s" }}</span></p>
    <p style="font-style: italic" class="card-text">{{ bb.content|truncatewords:10 }}</p>
      <hr>
      {% if bb.price %}
      <p class="card-link">Price {{ bb.price }} rub</p>
      {% else %}
      <p class="card-link">Price 0 rub</p>
      {% endif %}
      <hr>
      <a style="box-shadow: 3px 3px 5px black" href="{{ bb.get_absolute_url }}" type="button" class="btn btn-primary">More detailed</a>
  </div>
</div>
        {% endfor %}
    <hr>
{% bootstrap_pagination page url=keyword %}
{% endif %}
    
{% endblock %}
